<% include head.ejs%>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home page</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.email) { %>
                <p>
                    <strong>display name</strong>: <%= user.display %><br>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>email</strong>: <%= user.email %>
                </p>

                 <form action="/update" method="post">
                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="text" class="form-control" name="phone">
                        <label>Text Services</label><br />
                        <select name="station_advisories" >station_advisories<br />
                            <option value="">Select Station</option>
                            <option value=12th St. Oakland City Center>12th St. Oakland City Center</option>
                            <option value=16th St. Mission (SF)>16th St. Mission (SF)</option>
                            <option value=19th St. Oakland>19th St. Oakland</option>
                            <option value=24th St. Mission (SF)>24th St. Mission (SF)</option>
                            <option value=Ashby (Berkeley)>Ashby (Berkeley)</option>
                            <option value=Balboa Park (SF)>Balboa Park (SF)</option>
                            <option value=Bay Fair (San Leandro)>Bay Fair (San Leandro)</option>
                            <option value=Castro Valley>Castro Valley</option>
                            <option value=Civic Center (SF)>Civic Center (SF)</option>
                            <option value=Coliseum>Coliseum</option>
                            <option value=Colma>Colma</option>
                            <option value=Concord>Concord</option>
                            <option value=Daly City>Daly City</option>
                            <option value=Downtown Berkeley>Downtown Berkeley</option>
                            <option value=Dublin/Pleasanton>Dublin/Pleasanton</option>
                            <option value=El Cerrito del Norte>El Cerrito del Norte</option>
                            <option value=El Cerrito Plaza>El Cerrito Plaza</option>
                            <option value=Embarcadero (SF)>Embarcadero (SF)</option>
                            <option value=Fremont>Fremont</option>
                            <option value=Fruitvale (Oakland)>Fruitvale (Oakland)</option>
                            <option value=Glen Park (SF)>Glen Park (SF)</option>
                            <option value=Hayward>Hayward</option>
                            <option value=Lafayette>Lafayette</option>
                            <option value=Lake Merritt (Oakland)>Lake Merritt (Oakland)</option>
                            <option value=MacArthur (Oakland)>MacArthur (Oakland)</option>
                            <option value=Millbrae>Millbrae</option>
                            <option value=Montgomery St. (SF)>Montgomery St. (SF)</option>
                            <option value=North Berkeley>North Berkeley</option>
                            <option value=North Concord/Martinez>North Concord/Martinez</option>
                            <option value=Oakland Int'l Airport>Oakland Int'l Airport</option>
                            <option value=Orinda>Orinda</option>
                            <option value=Pittsburg/Bay Point>Pittsburg/Bay Point</option>
                            <option value=Pleasant Hill>Pleasant Hill</option>
                            <option value=Powell St. (SF)>Powell St. (SF)</option>
                            <option value=Richmond>Richmond</option>
                            <option value=Rockridge (Oakland)>Rockridge (Oakland)</option>
                            <option value=San Bruno>San Bruno</option>
                            <option value=San Francisco Int'l Airport>San Francisco Int'l Airport</option>
                            <option value=San Leandro>San Leandro</option>
                            <option value=South Hayward>South Hayward</option>
                            <option value=South San Francisco>South San Francisco</option>
                            <option value=Union City>Union City</option>
                            <option value=Warm Springs/South Fremont>Warm Springs/South Fremont</option>
                            <option value=Walnut Creek>Walnut Creek</option>
                            <option value=West Dublin>West Dublin</option>
                            <option value=West Oakland>West Oakland</option>
                        </select><br />
                        <input type="checkbox" name="service_advisories" value="service_advisories">service_advisories<br />
                        <input type="checkbox" value="time-slot" value="morning" >morning<br />
                        <input type="checkbox" value="time-slot" value="midday" >midday<br />
                        <input type="checkbox" value="time-slot" value="afternoon" >afternoon<br />
                        <input type="checkbox" value="time-slot" value="evening" >evening<br />
                        <input type="checkbox" value="time-slot" value="saturday" >saturday<br />
                        <input type="checkbox" value="time-slot" value="sunday" >sunday<br />
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Enter</button>
                </form>

                <a href="/delete" class="btn btn-default">Delete account</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

<% include foot.ejs%>